/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lobster);
 
$navy-blue: #242d36;
$flat-red: #f45145;
$bg-gray: #d4d7dc;
$font-gray: #727272;
$light-gray: #f0f1f3;
$dark-green: #005a31;
$flat-orange: #ff9009;

$navbar-border-radius: 0px;
$navbar-height: 80px;
$navbar-default-border: $flat-orange;
$navbar-default-bg: $dark-green;
$navbar-default-color: white; 
$nav-link-padding: 0px 0px;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: $flat-orange;
$navbar-default-brand-color: white;
$navbar-default-brand-hover-color: $flat-orange;
$navbar-default-toggle-icon-bar-bg: white;
$navbar-default-toggle-border-color: white;
$navbar-default-toggle-hover-bg: $flat-orange;

$jumbotron-padding: 10px;
$jumbotron-bg: white;

$table-border-color: $font-gray;

@import "bootstrap";

body {
	padding-top: 80px;
	background-color: $bg-gray;
	color: $font-gray;
}

.center {
	text-align: center;
}

.date-color {
	color: $flat-orange;
}

.gray-words {
	font-size: 10px;
	color: #777;
}

.jumbotron {
	margin-top: 35px;
	margin-bottom: 55px;
	-webkit-box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.75);
	//background-image: url('astroturf.jpg');
}

.navbar{
	.navbar-brand {
		font-family: 'Lobster', cursive;
		font-size: 28px;
	}
	.nav-links > a {
		margin-right: 15px;
	}
	.w-outline > a {
		margin-top: 20px;
		margin-right: 15px;
		padding: 5px;
		border: 2px solid white;
		&:hover {
			border: 2px solid $flat-orange;
		}
	}
}

.division-heading {
	color: #727272;
	margin-top: 5px;
	margin-bottom: 5px;
}

.table > thead > tr > th {
	color: $flat-orange;
}

.panel {
	margin-top: 30px;
	-webkit-box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.75);
}